{% extends "webBukee/base.html" %}

{% block title%} Preguntas frecuentes {% endblock %}


{% block content %}
{% load static %}

    <main>
        <section class="preguntasFrecuentes">
    <h1 class="titulo2">Preguntas frecuentes</h1>
    <section class="conteinerPregunta">
     
        
        <a class="preguntaNaranja pregunta" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            <div class="preguntaNaranja pregunta">
                <h2>¿Se permiten devoluciones?</h2>
            </div>
        </a>
        <div class="collapse respuesta" id="collapseExample">
            <div class="preguntaNaranja pregunta">
              <h2>Sí se permiten devoluciones por error de talla</h2>
            </div>
        </div>
        <a class="preguntaNaranja pregunta" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
            <div class="preguntaNegro pregunta">
                <h2>¿Qué métodos de pago aceptan?</h2>
            </div>
        </a>
        <div class="collapse respuesta" id="collapseExample2">
            <div class="preguntaNaranja pregunta">
              <h2>Todas las tarjetas, transferencia y mercado pago</h2>
            </div>
        </div>
        <a class="preguntaNaranja pregunta" data-bs-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample">
            <div class="preguntaNaranja pregunta">
                <h2>¿Tiene garantía?</h2>
            </div>
        </a>
        <div class="collapse respuesta" id="collapseExample3">
            <div class="preguntaNaranja pregunta">
              <h2>Dos semanas de garantía</h2>
            </div>
        </div>
        <a class="preguntaNaranja pregunta" data-bs-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample">
            <div class="preguntaNegro pregunta">
                <h2>¿Tienen atención al cliente?</h2>
            </div>
        </a>
        <div class="collapse respuesta" id="collapseExample4">
            <div class="preguntaNaranja pregunta">
              <h2>Si, puedes contactarnos <a href="Contacto.html">aqui</a></h2>
            </div>
        </div>
        <a class="preguntaNaranja pregunta" data-bs-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample">
            <div class="preguntaNaranja pregunta">
                <h2>¿Cómo puedo consultar el estado de mi pedido?</h2>
            </div>
        </a>
        <div class="collapse respuesta" id="collapseExample5">
            <div class="preguntaNaranja pregunta">
              <h2>Con el código de seguimiento de tu pedido</h2>
            </div>
        </div>
        <a class="preguntaNaranja pregunta" data-bs-toggle="collapse" href="#collapseExample6" role="button" aria-expanded="false" aria-controls="collapseExample">
            <div class="preguntaNegro pregunta">
                <h2>¿Tienen atención al cliente?</h2>
            </div>
        </a>
        <div class="collapse respuesta" id="collapseExample6">
            <div class="preguntaNaranja pregunta">
              <h2>Si, puedes contactarnos <a href="Contacto.html">aqui</a></h2>
            </div>
        </div>
        <a class="preguntaNaranja pregunta" data-bs-toggle="collapse" href="#collapseExample7" role="button" aria-expanded="false" aria-controls="collapseExample">
            <div class="preguntaNaranja pregunta">
                <h2>¿Cómo puedo consultar el estado de mi pedido?</h2>
            </div>
        </a>
        <div class="collapse" id="collapseExample7">
            <div class="preguntaNaranja pregunta">
              <h2>Con el código de seguimiento de tu pedido</h2>
            </div>
        </div>
        <a class="preguntaNaranja pregunta" data-bs-toggle="collapse" href="#collapseExample8" role="button" aria-expanded="false" aria-controls="collapseExample">
            <div class="preguntaNegro pregunta">
                <h2>¿Cómo se han fabricado tus productos?</h2>
            </div>
        </a>
        <div class="collapse respuesta" id="collapseExample8">
            <div class="preguntaNaranja pregunta ">
              <h2>Fabricados por nosotros</h2>
            </div>
        </div>
        
    <section class="contactar">
        <h3>¿Tienes alguna pregunta? Contactanos!</h3>
        <button class="btnContactar"><a href="Contacto.html">Contactar</a></button>
    </section>
</section>
</section>
<!-- Modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="whatsapp">
          
          <h5 class="modal-title" id="exampleModalLabel"><img src="../pic/perfilWp.webp" alt="perfil" style="width:50px ;"> Bukee Soporte </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-bodyWp">
          <div class="chat">
            <h2 class="nombreChat">Bukee Indumentaria</h2>
            <p class="mensaje">Hola! ¿Cómo podemos ayudarte?</p>
            <p class="hora">16:52</p>
          </div>
        </div>
        <div class="modal-footer">
         <button type="button" href="https://api.whatsapp.com/send?phone=3541337512&text=Necesito%20ayuda%20en%20" class="btnChat"><img src="../pic/whatsapp.png" alt="" style="width: 20px;"> Empezar chat</button>
        </div>
      </div>
    </div>
  </div>
</main>
    


{% endblock %}