{% extends "webBukee/base.html" %}

{% block title%} Home {% endblock %}


{% block content %}
{% load static %}


    <main class="sobreNosotros">
        <!-- <h1>Bukee</h1> -->
        
        <img src="{% static 'webBukee/pic/sobreNosotros.png' %}" alt="">
        <div class="somos">
            <h1>Sobre nosotros</h1>
            <p>Somos un emprendimiento de indumentaria unisex con elaboración propia y de la mejor calidad!</p>
        </div>
        <div class="mapa">
            <h2>Encontranos en:</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13644.170516354596!2d-64.47733011256923!3d-31.247243208349158!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x942d7b14c6fd5e3f%3A0x77017b34c9444431!2zQ29zcXXDrW4sIEPDs3Jkb2Jh!5e0!3m2!1ses!2sar!4v1662168067519!5m2!1ses!2sar" width="90%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
       
    </main>
     
  {% endblock %}